@use '../../../../../../styles/mixins' as mixins;


.incidents-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 40px;
    justify-content: center;
}

.incident-card {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    padding: 5px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;

    &__info, &__subject, &__user {
        padding-right: 10px;
        width: fit-content;
        height: -webkit-fill-available;
        
        .incident-card__title {
            display: inline-flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;
            padding: 10px;
            height: 30px;
            @include mixins.font();

            mat-icon {
                color: var(--color-primary-2)
            }
        }

        .incident-card__details {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .avatar {
                width: 40px;
                height: 40px;
                min-width: 40px;
            }

            .item {
                .label {
                    font-weight: 600;
                    @include mixins.font(0.8rem);
                    color: var(--color-gray-2);
                    margin-bottom: 5px;
                }
            }
        }
    }

    &__info, &__subject {
        border-right: 2px solid var(--global-border-color);
    }

    &:hover {
        background-color: var(--color-primary-3);

        --global-border-color: var(--color-primary);
    }

}
