@let incidents = this.incidents();

<div class="incidents-open-list">

    @for (incident of incidents; track incident) {
        
        <div class="incidents-open-incident" (click)="onSelectIncident(incident)">

            {{incident.title}}
            {{incident.date | date:'short'}}
            
            @switch (incident.token.type) {

                @case (tokenType.document){
                    {{incident.token.name}}
                    {{incident.token.location}}
                }
                @case (tokenType.email){
                
                }
            }

        </div>
    }

</div>