.dialog-content {
    padding-top: 10px;

    .document-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .document-control {
            display: flex;
            align-items: center;
            gap: 5px;

            mat-form-field { 
                flex: auto;
            }
        }
    }
}