<div class="nav">
    <io-header 
        [isOpenMobileSidebar]="isMobileSidebarOpen()"
        [isOpenUserMenu]="isUserMenuOpen()"
        [style.width]="mainContentWidth()"
        (isMobileSidebarOpen)="isMobileSidebarOpen.set($event)"
        (isUserMenuOpen)="isUserMenuOpen.set($event)"
    >
    </io-header>
    @if (breakpointService.isTablet() || breakpointService.isWeb()) {
        <io-user-menu 
            #userMenu
            class="user-menu-component"
            [isUserMenuOpen]="isUserMenuOpen()"
        >
        </io-user-menu>
    }
</div>

@if (breakpointService.isPhone()) {
    <io-user-menu 
        class="user-menu-component"
        [isUserMenuOpen]="isUserMenuOpen()"
    >
    </io-user-menu>
}


<div class="page">
    <io-sidebar [isMobileSidebarOpen]="isMobileSidebarOpen()"></io-sidebar>
    <div class="router-content">
        <router-outlet></router-outlet>
    </div>
</div>


