<div class="nav">
    <io-header 
        [isOpenMobileSidebar]="isMobileSidebarOpen()"
        [isOpenUserMenu]="isUserMenuOpen()"
        [style.width]="mainContentWidth()"
        (isMobileSidebarOpen)="isMobileSidebarOpen.set($event)"
        (isUserMenuOpen)="isUserMenuOpen.set($event)"
    >
    </io-header>
        <io-user-menu 
            #userMenu
            class="user-menu-component"
            [isUserMenuOpen]="isUserMenuOpen()"
        >
    </io-user-menu>
</div>


<div class="page">
    <io-sidebar [isMobileSidebarOpen]="isMobileSidebarOpen()"></io-sidebar>
    <div class="router-content">
        <router-outlet></router-outlet>
    </div>
</div>


