<ng-template #cardLayout let-doc="doc" let-isSkeleton="isSkeleton">
    <div class="documents-card" 
        [class.skeleton-card]="isSkeleton" 
        (click)="!isSkeleton && doc ? onDocumentClicked(doc) : null">

        <div class="documents-card__main">
            <div class="documents-card__header">
                @if (isSkeleton) {
                    <div class="skeleton-bar skeleton-icon"></div>
                    <div class="skeleton-bar skeleton-text"></div>
                } @else {
                    <mat-icon>description</mat-icon>
                    <span class="title-text" [title]="doc.name">{{doc.name}}</span>
                }
            </div>

            <div class="documents-card__body">
                @if (isSkeleton) {
                    <div class="skeleton-bar skeleton-label"></div>
                    <div class="skeleton-bar skeleton-text"></div>
                } @else {
                    @if (doc.department) {
                        <div class="item">
                            <div class="label">Department</div>
                            <div class="value">{{ doc.department }}</div>
                        </div>
                    }
                    }
            </div>
        </div>

        <div class="documents-card__meta">
            <div class="documents-card__header align-right">
                @if (isSkeleton) {
                    <div class="skeleton-bar skeleton-date"></div>
                } @else {
                    <span class="date-text">{{ doc.updated | date:'short' }}</span>
                }
            </div>

            <div class="documents-card__body">
                @if (isSkeleton) {
                    <div class="skeleton-bar skeleton-pill"></div>
                } @else {
                    <io-pill 
                        [pill]="doc.sensitivity"
                        [varMap]="sensitivityColors"
                        [textMap]="sensitivityText">
                    </io-pill>
                }
            </div>
        </div>
    </div>
</ng-template>