@let documents = documents$();        
        
<div class="documents-list">

    @for (document of documents; track document.tokenId) {
    
        <div class="documents-card" (click)="onDocumentClicked(document)">

            <div class="documents-card__info">
                
                <div class="documents-card__title">

                    <mat-icon>description</mat-icon>

                    {{document.name}}

                </div>

                <div class="divider"></div>

                    <div class="documents-card__details">

                        <div class="item">
                            <div class="label">Doc Location</div>
                            {{ document.location }}
                        </div>

                    </div>
            </div>

            <div class="documents-card__meta-row">
    

                <div class="documents-card__date">

                    <div class="documents-card__title">
                        {{ document.updated | date:'short' }}
                    </div>

                    <div class="divider"></div>

                    <div class="documents-card__details">

                        <div class="item">
                            <io-pill 
                                [pill]="document.sensitivity"
                                [varMap]="sensitivityColors"
                                [textMap]="sensitivityText">
                            </io-pill>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    }       
</div>