<div class="picker-container">
    
    <div class="picker-box" [class.disabled]="isDisabled()" (click)="openDialog()">
        
        @if (selectedItem(); as item) {
            <div class="current-value">
                <div class="avatar">
                    <io-profile-avatar [profile]="item"></io-profile-avatar>
                </div>
                
                <div class="text-info">
                    <span class="name">{{ item.firstName }} {{ item.lastName }}</span>
                    
                    @if (!hideDetail()) {
                        <div class="info-grid">

                            @if (item.riskScore) {
                                <span class="sub-label">Risk Score</span>
                                <span>{{ item.riskScore }}</span>
                            }
                            
                            @if (item.email) {
                                <span class="sub-label">Email</span>
                                <span>{{ item.email }}</span>
                            }
                            
                            @if (item.phone) {
                                <span class="sub-label">Phone</span>
                                <span>{{ item.phone }}</span>
                            }
                            
                            @if (item.department) {
                                <span class="sub-label">Dept</span>
                                <span>{{ item.department }}</span>
                            }

                            @if (item.role) {
                                <span class="sub-label">Role</span>
                                <span>{{ item.role }}</span>
                            }
                            
                        </div>
                    }
                        
                </div>
            </div>
            } @else {
                <div class="placeholder">
                    <mat-icon>person_add</mat-icon>
                    <span>{{ nullLabel() }}</span>
                </div>
            }

        <div class="actions">
            
            @if (enableAssignMe() && !selectedItem() && !isDisabled()) {
                <button (click)="assignToMe($event)">
                    Assign Me
                </button>
            }

            @if (!selectedItem()) {
                <button [disabled]="isDisabled()">
                    <mat-icon>add</mat-icon>
                </button>
            }
            
            @if (selectedItem() && !isDisabled()) {
                <button class="flat" (click)="clearSelection($event)">
                    <mat-icon>close</mat-icon>
                </button>
            }
        </div>
    </div>
</div>