.picker-container {
    margin-bottom: 16px;
}

.picker-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 12px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    background: var(--color-back);
    transition: border 0.2s;
    height: fit-content;
    width: fit-content;
    cursor: pointer;

    &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-primary-3);
    }

    &.disabled {
        background: var(--color-text-2);
        pointer-events: none;
        opacity: 0.7;
    }
}

.current-value {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.avatar {
    width: 40px;
    height: 40px;
}

.text-info {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: center;
    min-width: 0;
    flex: 1;
    gap: 2px;
}

.name {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.placeholder { 
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    color: var(--color-text-2); 
    
    mat-icon {
        color: var(--color-text-2) !important;
    }
}

.actions {
    display: flex;
}