.picker-container {
    margin-bottom: 16px;
}

.picker-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--color-gray-2);
}

.picker-box {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border: 1px solid var(--color-gray-2);
    border-radius: 8px;
    background: var(--color-back);
    transition: border 0.2s;
    min-height: 80px;
    cursor: pointer;

    &:hover {
        border-color: var(--color-primary);
    }

    &.disabled {
        background: var(--color-text-2);
        pointer-events: none;
        opacity: 0.7;
    }
}

.current-value {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.avatar {
    width: 40px;
    height: 40px;
}

.text-info {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
    gap: 2px;
}

.name {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metadata-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    gap: 8px;
    margin-top: 8px;

    font-size: 0.9em;
    color: var(--color-text);
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.meta-item {
    display: inline-flex;
    gap: 4px;
    white-space: nowrap;

    .label {
        font-size: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--color-primary-2);
        font-weight: 600;
    }

    mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}


.placeholder { 
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    color: var(--color-text-2); 
    
    mat-icon {
        color: var(--color-text-2) !important;
    }
}