@use '../../../styles/mixins' as mixins;

:host {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 16px;
    font-weight: 600;
    text-align: center;
    
    background-color: var(--background-color);

    @include mixins.font(.75em)

}