@use '../../../styles/mixins' as mixins;

:host {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 16px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;

    border: 1px solid var(--color-back-body);
    background-color: var(--background-color);

    @include mixins.font(.80em)

}