<div class="header-container">
    <div class="header-left">
        @if (breakpointService.isPhone()) {
            <div class="header-mobile-sidebar-button">
                <button (click)="toggleMobileSidebar()">
                    sidebar
                </button>
            </div>
        }
        <div class="header-logo">
            @if (themeService.isDarkMode()) {
                @if (breakpointService.isWeb() || breakpointService.isTablet()){
                    <img class="header-logo" src="assets/insiderout_dark.png" alt="Insider OUT Logo">
                }
                @else {
                    <img class="header-logo" src="assets/io_dark.png" alt="Insider OUT Logo">
                }
            }
            @else {
                @if (breakpointService.isWeb() || breakpointService.isTablet()){
                    <img class="header-logo" src="assets/insiderout_light.png" alt="Insider OUT Logo">
                }
                @else {
                    <img class="header-logo" src="assets/io_light.png" alt="Insider OUT Logo">
                }
            }
        </div>
    </div>

    <div class="header-middle">
        @if (!breakpointService.isPhone()) {
            
            <div class="header-search">

            </div>
        }
    </div>

    <div class="header-right">

        <div>
            <button (click)="toggleTheme()">
                Switch to {{ themeService.isDarkMode() ? 'Light' : 'Dark' }} Mode
            </button>
        </div>
        
        <div class="header-profile" (click)="toggleUserMenu()">
            
            
        </div>
    
    </div>
        
    
</div>


@if (isOpenMobileSidebar() || isOpenUserMenu()){
    <div class="page-backdrop" (click)="toggleMobileSidebar()"></div>
}