@use '../../../styles/mixins' as mixins;

.header-container {
    background-color: var(--color-back);
    border-bottom: 2px solid var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 10px;
    z-index: 1000;

    .header-left, .header-right, .header-middle {
        display: flex;
        align-items: center;
        gap: 10px;

        .header-logo {
            width: 100%;
            height: 100%;
    
            .header-logo {
                width: auto;
                height: 70px;
            }
        }

        .header-search {
            background-color: var(--color-back);
            border: 2px solid var(--color-primary);
            border-radius: 10px;
            width: 200px;
            height: 20px;
            display: flex;
            align-items: center;
            padding: 5px;

            @include mixins.phone() {
                width: 70px;
            }
        }

        .header-avatar {
            width: 50px;
            height: 50px;
        }
    }
    
}