@let user = userStore.currentUser();

<div class="header-container">
    <div class="header-left">
        @if (breakpointService.isPhone()) {
            <div class="header-mobile-sidebar-button">
                <mat-icon (click)="toggleMobileSidebar()">
                    {{ isOpenMobileSidebar$() ? 'close' : 'menu' }}
                </mat-icon>
            </div>
        }
        <div class="header-logo">
            @if (themeService.isDark()) {
                @if (breakpointService.isWeb() || breakpointService.isTablet()){
                    <img class="header-logo" src="assets/insiderout_dark.png" alt="Insider OUT Logo">
                }
                @else {
                    <img class="header-logo" src="assets/io_dark.png" alt="Insider OUT Logo">
                }
            }
            @else {
                @if (breakpointService.isWeb() || breakpointService.isTablet()){
                    <img class="header-logo" src="assets/insiderout_light.png" alt="Insider OUT Logo">
                }
                @else {
                    <img class="header-logo" src="assets/io_light.png" alt="Insider OUT Logo">
                }
            }
        </div>
    </div>

    <div class="header-middle">
        
        <div class="header-search">
            @if (!breakpointService.isPhone()) {
                Search
            }
            @else {
                <mat-icon>
                    Search
                </mat-icon>
            }
        </div>
    </div>

    <div class="header-right">

        <mat-icon (click)="toggleTheme()" class="header-toggle">
            {{ themeService.isDark() ? 'light_mode' : 'bedtime' }}
        </mat-icon>
        
        @if (!isOpenUserMenu$()){
        <div class="header-avatar">
                <io-profile-avatar (click)="toggleUserMenu()" [profile]="user" [enableHover]="true"></io-profile-avatar>
            </div>
        }
    
    </div>
        
    
</div>


@if (isOpenMobileSidebar$() || isOpenUserMenu$()){
    <div class="page-backdrop" (click)="handleBackdrop()"></div>
}