<div class="profile-card">
    <io-profile-avatar [profile]="profile()" class="large-avatar"></io-profile-avatar>
    
    <h3>{{ profile().firstName }} {{ profile().lastName }}</h3>
    <p class="role">{{ profile().title || 'No Title' }}</p>
    
    <div class="info-grid">
        <span class="sub-label">Email</span>
        <span class="info">{{ profile().email }}</span>
        
        <span class="sub-label">Dept</span>
        <span class="info">{{ profile().department || 'N/A' }}</span>
        
        <span class="sub-label">Phone</span>
        <span class="info">{{ profile().phone || 'N/A' }}</span>
        
        <span class="sub-label">Location</span>
        <span class="info">{{ profile().location || 'N/A' }}</span>
    </div>
</div>