@let profile = this.profile();

<div class="profile-card">
    <io-profile-avatar [profile]="profile" class="large-avatar"></io-profile-avatar>
    
    <h3>{{ profile.firstName }} {{ profile.lastName }}</h3>
    <p class="role">{{ profile.role || '' }}</p>
    
    <div class="info-grid">

        @if (profile.riskScore) {
            <span class="sub-label">Risk</span>
            <span>{{ profile.riskScore }}%</span>
        }

        @if (profile.department) {
            <span class="sub-label">Dept</span>
            <span>{{ profile.department }}</span>
        }

        @if (profile.email) {
            <span class="sub-label">Email</span>
            <span>{{ profile.email }}</span>
        }

        @if (profile.phone) {
            <span class="sub-label">Phone</span>
            <span>{{ profile.phone }}</span>
        }
        

    </div>
</div>