
.user-profile {
    background-color: var(--color-back);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color-primary);

    .user-profile-avatar {
        width: 50px;
        height: 50px;
    }
}