@let documents = this.filteredDocuments$();

<div class="page-container">

    <div class="actions">

        <div class="filters">

            <div class="search-bar">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" class="input">
                    <input 
                        matInput
                        type="text" 
                        #searchInput
                        placeholder="Search Documents" 
                        (input)="searchQueryChange.emit(searchInput.value)"
                        [value]="searchQuery()"
                    />
                </mat-form-field>
            </div>

            <io-entity-select
                label="Department"
                [options]="departmentStore.activeSortedDepartments()"
                labelKey="department"
                valueKey="department"
                (selectionChanged)="filterDepartmentChange.emit($event)">
            </io-entity-select>
        </div>
                        
        <button (click)="openCreateDialog()"><mat-icon>add_circle</mat-icon><span>Create</span></button>

    </div>

    <br>
    <br>

    <io-tokens-documents-list
        [documents]="documents"
        [isLoading]="isLoading$()"
        (documentSelected)="onDocumentClicked($event)"
    ></io-tokens-documents-list>
    


</div>