<!-- @let documents = this.filteredDocuments$(); -->

<div class="page-container">
    *Find / Search for Doc*
    *Department filter*
    <button (click)="openCreateDialog()"><mat-icon>add_circle</mat-icon><span>Create</span></button>

    @for (document of filteredDocuments$(); track document.tokenId) {
        <div>{{ document.name }}</div>
        <div>{{ document.severity }}</div>
        <div>{{ document.location }}</div>
        <div>{{ document.tokenId }}</div>


    }

    <!-- <br>
    <br>

    @if (documents?.length === 0) {
        <div class="no-results">
            <mat-icon>info</mat-icon>
            <p>No documents found matching the selected filters.</p>
        </div>
    }
    @else {
        <io-tokens-list
            [tokens]="documents"
            (tokenSelected)="onTokenClicked($event)"
        ></io-tokens-list>
    } -->


</div>