.no-results {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filters {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}