<div class="dashboard-grid">

    <div class="page-container panel-1">
        <io-dashboard-company-risk-tile [overallCompanyRisk]="dashboardStore.overallCompanyRisk()"></io-dashboard-company-risk-tile>
    </div>
    
    <div class="page-container panel-2">
        <io-dashboard-risk-breakdown-tile 
            [topDepartments]="dashboardStore.topDepartments()" 
            [topSubjects]="dashboardStore.topSubjects()">
        </io-dashboard-risk-breakdown-tile>
    </div>

    <div class="page-container panel-3">
        <io-dashboard-departments-tile
        [departmentDashboards]="dashboardStore.departmentDashboards()" 
        ></io-dashboard-departments-tile>    
    </div>

    <div class="page-container panel-4">
        <io-dashboard-incidents-tile 
            [recentIncidents]="dashboardStore.recentIncidents()" 
            [assignedIncidents]="dashboardStore.assignedIncidents()"
            [allIncidents]="incidentsStore.incidents()"
        ></io-dashboard-incidents-tile>
    </div>

</div>
