<div class="dashboard-grid">

    <div class="page-container panel-1">
        <io-dashboard-company-risk-tile [overallRisk]="dashboardStore.overallRisk()"></io-dashboard-company-risk-tile>
    </div>
    
    <div class="page-container panel-2">
        <io-dashboard-incidents-tile 
            [recentIncidents]="dashboardStore.recentIncidents()" 
            [assignedIncidents]="dashboardStore.assignedIncidents()"
            [allIncidents]="incidentsStore.incidents()"
        ></io-dashboard-incidents-tile>
    </div>

    <div class="page-container panel-3">
        <div>Deparments</div>
    </div>

</div>
