<io-dashboard-company-risk-tile [overallRisk]="dashboardStore.overallRisk()"></io-dashboard-company-risk-tile>

<io-dashboard-incidents-tile 
    [mostRecentIncidents]="dashboardStore.mostRecentIncidents()" 
    [assignedIncidents]="dashboardStore.assignedIncidents()"
    [allIncidents]="incidentsStore.incidents()"
    ></io-dashboard-incidents-tile>

<!-- 
@for (incident of dashboardStore.mostRecentIncidents(); track incident)
{
    {{incident.incidentId}}

}


@for (incident of dashboardStore.assignedIncidents(); track incident)
{
    {{incident.incidentId}}

} -->