:host {
    .dashboard-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        grid-template-areas: 
            "top-left right-left right-side"
            "bottom-left bottom-left right-side";
    }

    .panel-1 {
        grid-area: top-left;
    }

    .panel-2 {
        grid-area: right-left;
    }

    .panel-3 {
        grid-area: bottom-left;
    }

    .panel-4 {
        grid-area: right-side;
    }

    .page-container {
        margin: 0;
    }
}