<io-dialog-header
    title="Add Activity"
    (close)="closeDialog()"
    >
</io-dialog-header>

<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput 
                    formControlName="content" 
                    cdkTextareaAutosize 
                    cdkAutosizeMinRows="3" 
                    placeholder="Describe the update or action taken...">
            </textarea>
            @if (form.get('content')?.hasError('required') && form.get('content')?.touched) {
                <mat-error>Activity details are required</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="flat" (click)="closeDialog()">Cancel</button>
    <button (click)="save()" [disabled]="form.invalid">Save Activity</button>
</mat-dialog-actions>