<div class="select-container">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 100%;">

        @if (label()) {
            <mat-label>{{ label() }}</mat-label>
        }

        @if (labelIcon()) {
            <mat-icon matPrefix>{{ labelIcon() }}</mat-icon>
        }

        <mat-select 
            [value]="value()" 
            [disabled]="isDisabled()"
            [required]="required()"
            [errorStateMatcher]="matcher"
            (selectionChange)="onSelectionChange($event)"
            (openedChange)="onTouched()" 
            panelClass="entity-select-panel">

            <mat-select-trigger>
                <span>{{ selectedEntityLabel() }}</span>
            </mat-select-trigger>

            @for (item of options(); track item[valueKey()]) {
                <mat-option [value]="item[valueKey()]">
                    {{ item[labelKey()] }}
                </mat-option>
            }

        </mat-select>
        
        @if (value() !== null && value() !== undefined && value() !== '') {
            <button 
                class="flat"
                matSuffix 
                (click)="clearSelection($event)" 
                aria-label="Clear filter">
                <mat-icon>close</mat-icon>
            </button>
        }

        <mat-error>{{ label() }} is required</mat-error>

    </mat-form-field>
</div>