<div class="page-container user-detail">
    <div class="user-detail-list">
        List of all users 
    
        <!--
            list on the left

            each list is collapsable
            -->

        <div class="user-detail-list-admin">
            <!-- <io-user-detail-list [Type]="admin"> -->
        </div>

        <div class="user-detail-list-other">
            <!-- <io-user-detail-list [Type]="other"> -->
        </div>
    </div>

    <div class="user-detail-detail">

        <!--
            detail on the right

            <io-user-profile></io-user-profile>
        -->

        @if (userId()) {
            User Settings for user {{userId()}}
            <!-- user-detail-detail-view -->
        }
        @else {
            <!-- settings for user, cannot edit other admin accounts -->
        }

    </div>
</div>