@let users = this.users();
@let subjects = this.subjects();
@let activeId = this.activeId();
@let activeType = this.activeType();

<div class="page-container user-detail">
    <div class="user-detail-list">

        <div class="user-detail-list-users">
            <io-user-detail-list 
                [people]="users" 
                title="Users"
                listType="user"
                [activeId]="activeId"
                [activeType]="activeType"
                (personSelected)="onPersonClicked($event)"
            ></io-user-detail-list>
        </div>

        <div class="user-detail-list-subjects">
            <io-user-detail-list 
                [people]="subjects" 
                title="Employees"
                listType="subject"
                [activeId]="activeId"
                [activeType]="activeType"
                (personSelected)="onPersonClicked($event)"
            ></io-user-detail-list>
        </div>

    </div>

    <div class="user-detail-detail">
        <router-outlet></router-outlet> 
    </div>
</div>