@let profile = this.profile();

@if (profile) {

    <io-profile-card [profile]="profile"></io-profile-card>

    @if (userStore.isCurrentUser(profile)) {

        <button>Edit Profile</button>
        <button class="danger" (click)="onDelete(profile)">Delete Account</button>

    }
    @else if (isSubject(profile)) {

        <button (click)="onEdit(profile)">Edit</button>
        <button class="danger" (click)="onDelete(profile)">Remove</button>

    }

} @else {
    <p>Profile Not Found</p>
}