@let profile = this.profile();

@if (profile) {

    <h2>Edit Profile</h2>

    <div class="profile-detail">
        <io-profile-card [profile]="profile"></io-profile-card>
    
        @if (userStore.isCurrentUser(profile)) {
    
            <div>
                <button (click)="onEdit(profile)">Edit</button>
                <button class="danger" (click)="onDelete(profile)">Delete Account</button>
            </div>
    
        }
        @else if (isSubject(profile)) {
    
            <div>
                <button (click)="onEdit(profile)">Edit</button>
                <button class="danger" (click)="onDelete(profile)">Remove</button>
            </div>
    
        }
    </div>


} @else {
    <p>Profile Not Found</p>
}