// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}

mat-icon {
    color: var(--color-primary-2) !important;
    
    &.info {
        color: var(--color-back-body) !important;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}

.mat-mdc-form-field {
    --mdc-outlined-text-field-outline-color: var(--color-gray-2);
    --mdc-outlined-text-field-focus-outline-color: var(--color-primary);
    --mdc-outlined-text-field-hover-outline-color: var(--color-primary);
    
    .mat-mdc-select-value, 
        .mat-mdc-input-element {
        color: var(--color-text) !important;
    }

    .mdc-notched-outline__stroke {
        border-width: 2px !important;
        border-color: var(--color-gray) !important; 
    }

    &:hover .mdc-notched-outline__stroke {
        border-color: var(--color-primary) !important; 
    }

    &.mat-focused .mdc-notched-outline__stroke {
        border-color: var(--color-primary) !important;
    }
}

.mdc-floating-label {
    color: var(--color-text) !important;
}

.mat-mdc-form-field.mat-focused .mdc-floating-label {
    color: var(--color-text) !important; 
}

.mat-mdc-text-field-wrapper {
    background-color: var(--color-back) !important; 
    border-radius: 10px !important;
}

.mat-mdc-select-arrow {
    color: var(--color-primary-2) !important;
}


.mat-mdc-select-panel {
    background-color: var(--color-back) !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 20px var(--color-back-drop) !important;
    border: 2px solid var(--color-gray) !important;
    max-width: 350px !important;

    .mat-mdc-option {
        border-bottom: 1px solid var(--color-gray) !important;
        .mdc-list-item__primary-text {
            color: var(--color-text); 
        }

        &:hover {
            background-color: var(--color-gray) !important;
        }

        &.mdc-list-item--selected {
            background-color: var(--color-primary-3) !important;
        
            .mdc-list-item__primary-text {
                color: var(--color-text) !important;
            }
        }
    }

    .mat-mdc-option .mdc-list-item__primary-text {
        width: 100%; 
        overflow: hidden;
    }
}

.mat-mdc-option.mdc-list-item--selected .mat-pseudo-checkbox {
    --mat-option-selected-state-label-text-color: var(--color-primary-2); 
}

mat-nav-list {
    width: 100%;
    padding-top: 5px;
}

.mat-mdc-list-item {
    width: -webkit-fill-available !important;
    height: auto !important;
    min-height: 64px !important;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    margin: 5px 10px !important;
    border: 2px solid var(--color-back) !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;

    // ::ng-deep .mdc-list-item__start {
    //     width: 48px !important;
    //     height: 48px !important;
    //     margin-right: 16px !important;
    //     align-self: center !important;
        
    //     flex-shrink: 0;

    //     display: flex;
    //     align-items: center;
    // }

    // ::ng-deep .mdc-list-item__content {
    //     align-self: center !important;
        
    //     .mat-mdc-list-item-title {
    //         margin-bottom: 2px !important;
    //         font-weight: 600;
    //         line-height: 1.2 !important;
    //     }
        
    //     .mat-mdc-list-item-line {
    //         margin: 0 !important;
    //         line-height: 1.2 !important;
    //     }
    // }

    &:hover {
        background-color: var(--color-back-gray) !important;
    }
    
    .mat-mdc-list-item-title, 
    .mdc-list-item__primary-text {
        color: var(--color-text) !important;
    }
    
    .mat-mdc-list-item-line, 
    .mdc-list-item__secondary-text {
        color: var(--color-text-2) !important;
    }

    io-profile-avatar {
        display: block;
        width: 35px !important;
        height: 35px !important;
    }
}