// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'mixins' as mixins;

html {
    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}

mat-icon {
    color: var(--color-primary-2) !important;
    
    &.info {
        color: var(--color-text-2) !important;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}

.io-modal-panel {
    
    .mat-mdc-dialog-surface {
        background-color: var(--color-back) !important;
        border: 2px solid var(--color-primary) !important;
        border-radius: 10px !important; 

        .mat-mdc-dialog-title, .mdc-dialog__title {
            color: var(--color-text);
        }
    }
}

.mat-mdc-form-field {
    --mat-form-field-outlined-outline-color: var(--color-gray-2);
    
    --mat-form-field-outlined-focus-outline-color: var(--color-primary);
    --mat-form-field-outlined-hover-outline-color: var(--color-primary);

    --mat-form-field-outlined-outline-color: var(--color-gray);
    --mat-form-field-outlined-disabled-outline-color: var(--color-gray);
    
    .mat-mdc-select-value, 
        .mat-mdc-input-element {
        color: var(--color-text) !important;
    }

    .mdc-notched-outline__stroke {
        border-color: var(--color-gray) !important; 
    }

    &:hover .mdc-notched-outline__stroke {
        border-color: var(--color-primary) !important; 
    }

    &.mat-focused .mdc-notched-outline__stroke {
        border-color: var(--color-primary) !important;
    }

    &.mat-form-field-invalid {
        --mat-form-field-outlined-error-outline-color: var(--color-error);
        --mat-form-field-outlined-error-label-text-color: var(--color-error);
        --mat-form-field-error-text-color: var(--color-error);
    }
}

.mdc-floating-label {
    color: var(--color-text) !important;
}

.mat-mdc-form-field.mat-focused .mdc-floating-label {
    color: var(--color-text) !important; 
}

.mat-mdc-text-field-wrapper {
    background-color: var(--color-back) !important; 
    border-radius: 10px !important;
}

.mat-mdc-select-arrow {
    color: var(--color-primary-2) !important;
}


.mat-mdc-select-panel {
    background-color: var(--color-back) !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 20px var(--color-back-drop) !important;
    border: 2px solid var(--color-gray) !important;
    max-width: 350px !important;

    .mat-mdc-option {
        border-bottom: 1px solid var(--color-gray) !important;
        .mdc-list-item__primary-text {
            color: var(--color-text); 
        }

        &:hover {
            background-color: var(--color-gray) !important;
        }

        &.mdc-list-item--selected {
            background-color: var(--color-primary-3) !important;
        
            .mdc-list-item__primary-text {
                color: var(--color-text) !important;
            }
        }
    }

    .mat-mdc-option .mdc-list-item__primary-text {
        width: 100%; 
        overflow: hidden;
    }
}

.mat-mdc-option.mdc-list-item--selected .mat-pseudo-checkbox {
    --mat-option-selected-state-label-text-color: var(--color-primary-2); 
}

mat-nav-list {
    width: 100%;
    padding-top: 5px;
}

.mat-mdc-list-item {
    width: -webkit-fill-available !important;
    height: auto !important;
    min-height: 64px !important;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    margin: 5px 10px !important;
    border: 2px solid var(--color-back) !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;

    &:hover {
        background-color: var(--color-back-gray) !important;
    }
    
    .mat-mdc-list-item-title, 
    .mdc-list-item__primary-text {
        color: var(--color-text) !important;
    }
    
    .mat-mdc-list-item-line, 
    .mdc-list-item__secondary-text {
        color: var(--color-text-2) !important;
    }

    io-profile-avatar {
        display: block;
        width: 35px !important;
        height: 35px !important;
    }
}

.mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: var(--color-gray-2) !important;
    color: var(--color-bw) !important;
}

.mat-mdc-dialog-actions {
    gap: 10px;

    .buttons {
        display: flex;
    }

    &:has(.steps) {
        justify-content: space-between !important;
    }
}


.cdk-overlay-backdrop {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}



.snackbar {
    .mdc-snackbar__surface {
        background-color: var(--color-primary-5) !important;
        border-left: 5px solid var(--color-primary-6) !important;
    }

    .mdc-snackbar__label {
        display: flex;
        align-items: center;
        color: var(--color-text) !important;
        @include mixins.font();
    }
}