@use 'mixins' as mixins;
@use 'material-styles';

:root {
    --color-primary: #76a5af;
    --color-primary-2: #104651;
    --color-primary-light: #9dc9d2;

    --color-back: #ffffff;
    --color-back-2: #b4b4b4;
    --color-back-glass: #daeaf0;
    --color-back-body: #b7c0c2;
    --color-back-drop: #092430bd;
    
    --color-text: #212121;
    --color-text-2: #777777;
    
    --color-danger: #e07c7c;
    --color-danger-back: #d0141433;
    --color-bw: white;
}

body.dark-mode {
    --color-primary: #5a8893;
    --color-primary-2: #8dbbc2;
    --color-primary-light: #353535;
    
    --color-back: #434343;
    --color-back-2: #676869;
    --color-back-glass: #3a4a50;
    --color-back-body: #23282a;
    --color-back-drop: #070a0bb5;
    
    --color-text: #dfdfdf;
    --color-text-2: #a3a3a3;
    
    --color-danger: #9f3f3f;
    --color-danger-back: #83171766;
    --color-bw: black;
}

body {
    margin: 0;
    background-color: var(--color-back-body);
    color: var(--color-text);

    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body { height: 100%; }

body:has(io-header.menu-is-open) {
    overflow: hidden;
}

*,
*::before,
*::after {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.mat-icon {
    display: inline-flex !important;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: var(--color-text) !important;

    &:hover {
        text-decoration: underline !important;
        text-decoration-color: var(--color-primary) !important;
        text-decoration-thickness: 2px;
    }
}

/*----------------------- General Styles -----------------------*/

.nav {
    @include mixins.non-phone() {
        display: flex;
    }
}

.page {
    display: flex;
    margin: 10px;
    gap: 10px;
    @include mixins.phone {
        margin: 0px;
        gap: 0px;
    }

    .router-content {
        flex-grow: 1;
    }

}

.page-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;

    @include mixins.phone {
        background: var(--color-back-drop);
        @include mixins.blur(1px);
    }
}

.page-container {
    background-color: var(--color-back);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color-back-2);
    margin-bottom: 10px;

    @include mixins.phone{
        margin: 10px 0;
    }
}


.divider {
    border-bottom: 2px solid var(--color-back-2);
}

.flex-inline {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-back-glass);
    color: var(--color-text);
    @include mixins.font();
    font-weight: 600;
    cursor: pointer;

    padding: 0px 15px;
    margin: 10px;

    &.danger {
        border: 2px solid var(--color-danger);
        background-color: var(--color-danger-back);
    }

    &:hover {
        border: 2px solid var(--color-text);
        text-decoration: underline;

        background-color: var(--color-primary);

        &.danger {
            background-color: var(--color-danger);
        }
    }

}