@use 'mixins' as mixins;
@use 'material-styles';
@use 'colors';

body {
    margin: 0;
    background-color: var(--color-back-body);
    color: var(--color-text);

    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body { height: 100%; }

body:has(io-header.menu-is-open) {
    overflow: hidden;
}

*,
*::before,
*::after {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.mat-icon {
    display: inline-flex !important;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: var(--color-text) !important;

    &:hover {
        text-decoration: underline !important;
        text-decoration-color: var(--color-primary) !important;
        text-decoration-thickness: 2px;
    }
}

h1, h2, h3, h4 {
    color: var(--color-text);
}

/*----------------------- General Styles -----------------------*/

.nav {
    @include mixins.non-phone() {
        display: flex;
    }
}

.page {
    display: flex;
    margin: 10px;
    gap: 10px;
    @include mixins.phone {
        margin: 0px;
        gap: 0px;
    }

    .router-content {
        flex-grow: 1;
    }

}

.page-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;

    @include mixins.phone {
        background: var(--color-back-drop);
        @include mixins.blur(1px);
    }
}

.page-container {
    background-color: var(--color-back);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color-gray);
    margin-bottom: 10px;

    @include mixins.phone{
        margin: 10px 0;
    }
}


.divider {
    border-bottom: 2px solid var(--global-border-color);
}


.label { 
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--color-gray-2);
    height: 20px;

    &:has(mat-icon) {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.sub-label {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary-2);
    font-weight: 600;
}

.flex-inline {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    // border: 2px solid var(--color-primary);
    border: none;
    border-radius: 10px;
    color: var(--color-bw);
    @include mixins.font();
    font-weight: 600;
    cursor: pointer;

    padding: 5px 15px;
    margin: 10px;

    &:not(.flat){
        background-color: var(--color-primary-5);
    }

    &.danger {
        background-color: var(--color-danger);
    }

    &.flat {
        background-color: var(--color-back-gray);
        color: var(--color-primary-2)
    }

    &:hover {
        background-color: var(--color-primary);

        &.danger {
            background-color: var(--color-danger-back);
        }
    }

    &:disabled {
        background-color: var(--color-back-gray);
        color: var(--color-text-2);
        cursor: not-allowed;
        
        &:hover {
            background-color: var(--color-back-gray);
        }
    }

    &:has(mat-icon) {
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;

        mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
        
    }

    &:has(mat-icon):not(.flat){
        mat-icon {
            color: var(--color-bw) !important;
        }
    }

}

.muted {
    color: var(--color-text-2) !important;
}


.io-modal-panel {
    
    .mat-mdc-dialog-surface {
        background-color: var(--color-back) !important;
        border: 2px solid var(--color-gray) !important;
        border-radius: 10px !important; 

        .mat-mdc-dialog-title, .mdc-dialog__title {
            color: var(--color-text);
        }
    }
}
