@use 'mixins' as mixins;
@use 'material-styles';
@use 'colors';

body {
    margin: 0;
    background-color: var(--color-back-body);
    color: var(--color-text);

    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body { height: 100%; }

body:has(io-header.menu-is-open) {
    overflow: hidden;
}

.mat-icon {
    display: inline-flex !important;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: var(--color-text) !important;

    &:hover {
        text-decoration: underline !important;
        text-decoration-color: var(--color-primary) !important;
        text-decoration-thickness: 2px;
    }
}


h1, h2, h3, h4, p{
    color: var(--color-text);
}

p {
    color: var(--color-text);
    span {
        &:has(mat-icon) {
            gap: 5px;
            display: inline-flex;
            align-items: center;
            
            mat-icon {
                color: var(--color-text) !important;
                width: 10px !important;
                height: 10px !important;
                font-size: 10px !important;
                font-weight: 600;
            }
        }
    }
}

span {
    &.info {
        color: var(--color-text-2) !important;
        gap: 5px;
        display: inline-flex;
        align-items: center;

        mat-icon {
            color: var(--color-text-2) !important;
            width: 15px;
            height: 15px;
            font-size: 15px;
        }
    }
}

input {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--color-back);
    color: var(--color-text);
    border: 1px solid var(--color-gray-2);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
        border: 1px solid var(--color-primary-6); 
    }
}

label {
    color: var(--color-text)
}

input.ng-invalid.ng-touched {
    border-color: var(--color-error);
}

.error-message {
    color: var(--color-error);
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 2px;
}

/*----------------------- General Styles -----------------------*/

.nav {
    @include mixins.non-phone() {
        display: flex;
    }
}

.page {
    display: flex;
    margin: 10px;
    gap: 10px;
    padding-bottom: var(--action-bar-space);

    @include mixins.phone {
        margin: 0px;
        gap: 0px;
    }

    .router-content {
        flex-grow: 1;
    }

}

.page-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;

    @include mixins.phone {
        background: var(--color-back-drop);
        @include mixins.blur(1px);
    }
}

.page-container {
    background-color: var(--color-back);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid var(--color-gray);
    margin-bottom: 10px;

    @include mixins.phone{
        margin: 10px 0;
        padding: 10px;
    }
}


.divider {
    border-bottom: 2px solid var(--global-border-color);
}


.label { 
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--color-gray-2);
    height: 20px;

    &:has(mat-icon) {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}

.sub-label {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary-2);
    font-weight: 600;
}

.flex-inline {
    display: flex;
    align-items: center;
    gap: 5px;
}

.error {
    color: var(--color-error);
    font-weight: 600;
}

button {
    border: 1px solid var(--color-back-body);
    border-radius: 10px;
    color: var(--color-w);
    @include mixins.font();
    font-weight: 600;
    cursor: pointer;

    padding: 5px 15px;
    margin: 10px;

    &:not(.flat){
        background-color: var(--color-primary-5);
    }

    &.danger {
        background-color: var(--color-danger);
    }

    &.flat {
        background-color: var(--color-back-gray);
        color: var(--color-primary-2)
    }

    &:hover {
        background-color: var(--color-primary);

        &.danger {
            background-color: var(--color-danger-back);
        }
    }

    &:has(mat-icon) {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 5px;

        &:not(:has(span)) {
            border-radius: 50%;
            padding: 5px;
        }

        mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

    &:has(mat-icon):not(.flat, :disabled){
        mat-icon {
            color: var(--color-w) !important;
        }
    }

    &:disabled {
        background-color: var(--color-back-gray);
        color: var(--color-text-2);
        cursor: not-allowed;
        
        &:hover {
            background-color: var(--color-back-gray);
        }

        mat-icon {
            opacity: .5 !important;
            color: var(--color-text-2) !important;
        }
    }

}

.muted {
    color: var(--color-text-2) !important;
}


.info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px 24px;
    text-align: left;
    padding: 10px 20px;

    @include mixins.phone() {
        padding: 10px 0px;
    }
}

.tab-controls {
    display: flex;
    justify-content: center;
    background-color: var(--color-gray);
    width: 100%;
    border-radius: 10px 10px 0px 0px;

    .tab-button {
        margin-top: 10px;
        border-radius: 10px 10px 0px 0px;

        &:has(.active) {            
            background: var(--color-back);
        } 
    }

}


.skeleton-card {
    pointer-events: none;
}

.skeleton-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.skeleton-title {
    height: 20px;
    width: 60%;
    margin-bottom: 0;
}

.skeleton-label {
    height: 12px;
    width: 80px;
    margin-bottom: 8px;
}

.skeleton-text {
    height: 14px;
    width: 120px;
}

.skeleton-date {
    height: 14px;
    width: 100px;
}

.skeleton-pill {
    height: 24px;
    width: 60px;
    border-radius: 50%;
}