@use 'mixins' as mixins;
@use 'material-styles';
@use 'colors';

body {
    margin: 0;
    background-color: var(--color-back-body);
    color: var(--color-text);

    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body { height: 100%; }

body:has(io-header.menu-is-open) {
    overflow: hidden;
}

*,
*::before,
*::after {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.mat-icon {
    display: inline-flex !important;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: var(--color-text) !important;

    &:hover {
        text-decoration: underline !important;
        text-decoration-color: var(--color-primary) !important;
        text-decoration-thickness: 2px;
    }
}

/*----------------------- General Styles -----------------------*/

.nav {
    @include mixins.non-phone() {
        display: flex;
    }
}

.page {
    display: flex;
    margin: 10px;
    gap: 10px;
    @include mixins.phone {
        margin: 0px;
        gap: 0px;
    }

    .router-content {
        flex-grow: 1;
    }

}

.page-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;

    @include mixins.phone {
        background: var(--color-back-drop);
        @include mixins.blur(1px);
    }
}

.page-container {
    background-color: var(--color-back);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color-gray);
    margin-bottom: 10px;

    @include mixins.phone{
        margin: 10px 0;
    }
}


.divider {
    border-bottom: 2px solid var(--global-border-color);
}

.flex-inline {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-primary-3);
    color: var(--color-text);
    @include mixins.font();
    font-weight: 600;
    cursor: pointer;

    padding: 0px 15px;
    margin: 10px;

    &.danger {
        border: 2px solid var(--color-danger);
        background-color: var(--color-danger-back);
    }

    &:hover {
        border: 2px solid var(--color-text);
        text-decoration: underline;

        background-color: var(--color-primary);

        &.danger {
            background-color: var(--color-danger);
        }
    }

}