.layout-container { 
    display: flex;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    width: 300px;
    border-right: 1px solid #ccc;
    padding-right: 20px; 
}

.checkbox-group {
    display: flex;
    justify-content: center;
}

.drop-list { 
    border: 2px solid #ccc;
    border-radius: 5px;
    background: white; 
    &:has(.drop-list-item.selected) {
        border-color: var(--color-primary);
    }
}
.drop-list-item { 
    padding: 15px 10px;
    border-bottom: 1px solid #eee; cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.drop-list-item:last-child {
    border-bottom: none;
}
.drop-list-item:hover {
    background: #f0f0f0;
}
.drop-list-item.selected {
    background: var(--color-primary-3);
    font-weight: bold;
}
.drag-handle { 
    color: #888;
    cursor: grab;
    padding: 0 5px;
}

