@use '../../../../styles/mixins' as mixins;

.incidents-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    // justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    @include mixins.phone() {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }
}

.incident-card {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    padding: 5px;
    border: 2px solid var(--global-border-color);
    background-color: var(--color-primary-4);
    border-radius: 5px;
    cursor: pointer;
    width: 600px;

    @include mixins.mobile(){
        width: 100%;
    }

    @include mixins.phone(){
        width: calc(100vw - 50px);
        flex-direction: column;
    }

    &__info, &__subject, &__user {
        width: fit-content;
        height: -webkit-fill-available;
        
        @include mixins.non-phone(){
            padding-right: 5px;
        }

        @include mixins.phone(){
            width: 100%;

            .divider {
                display: none;
            }
        }

        .incident-card__title {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            padding: 10px;
            height: 30px;
            @include mixins.font();
        }

        .incident-card__details {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .avatar {
                width: 40px;
                height: 40px;
                min-width: 40px;
            }

            .item {
                .label {
                    font-weight: 600;
                    @include mixins.font(0.8rem);
                    color: var(--color-gray-2);
                    margin-bottom: 5px;
                }
            }
        }
    }

    &__info, &__subject {
        @include mixins.non-phone(){
            border-right: 2px solid var(--global-border-color);
        }
    }

    &__info {
        @include mixins.phone(){
            border-bottom: 2px solid var(--global-border-color);
        }
    }

    &__subject {
        @include mixins.phone(){
            border-right: 2px solid var(--global-border-color);
        }
    }

    &__user {
        margin-left: 5px;
    }

    &__meta-row {
        display: flex;
        height: -webkit-fill-available;
        
        @include mixins.phone() {
            width: 100%;
            flex-direction: row; 
        }
    }

    &:hover {
        background-color: var(--color-primary-3);

        --global-border-color: var(--color-primary);
    }

}
