@if (!breakpointService.isPhone() || (breakpointService.isPhone() && isMobileSidebarOpen())) {
    <div class="page-container sidebar-container"> 
        
        @for (item of sidebarItems; track item) {
        
            @if (!item.subpages) {
                <a class="sidebar-item" 
                    [routerLink]="item.route" 
                    (click)="openMainItem()"> 
                    
                    <div class="sidebar-item-main" 
                        routerLinkActive="sidebar-item-active"
                    >
                        <div class="sidebar-icon">
                            <mat-icon>{{item.icon}}</mat-icon>
                        </div>
                        <div class="sidebar-title">
                            {{item.title}}
                        </div>
                    </div>
                </a>
            }
            @else {
                <div class="sidebar-item" (click)="toggleSubpages(item.title)"> 

                    <div class="sidebar-item-main">
                        <div class="sidebar-icon">
                            <mat-icon>{{item.icon}}</mat-icon>
                        </div>
                        <div class="sidebar-title">
                            {{item.title}}
                            <mat-icon [class.rotated]="openItem() === item.title">
                                arrow_drop_down
                            </mat-icon>
                        </div>
                    </div>
                </div>

                @if (openItem() === item.title) {
                    <div class="subpage-container">
                        @for (subpage of item.subpages; track subpage) {
                            <a class="subpage-item" [routerLink]="subpage.route">
                                <div class="subpage-title" routerLinkActive="sidebar-item-active">
                                    {{ subpage.title }}
                                </div>
                            </a>
                        }
                    </div>
                }
            }
            <div class="divider"></div>
        }
    </div>
}