@use '../../../styles/mixins' as mixins;

.sidebar-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    
    @include mixins.non-phone() {
        position: sticky;
        top: 0;
    }

    @include mixins.phone() {
        position: fixed;
        width: calc(100% - 24px);
    }

    .sidebar-item {
        width: 100%;
        cursor: pointer;
        
        .sidebar-item-main {
            display: flex;
            gap: 5px;
            padding: 5px;
            border: 2px solid var(--color-back);
            border-radius: 5px;
            width: fit-content;
            @include mixins.font();

            .sidebar-icon {
                display: inline-flex;
                color: var(--color-primary-2);
            }
            
            .sidebar-title {
                display: flex;
                align-items: center;
    
                mat-icon.rotated {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .subpage-container {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        gap: 5px;
        font-size: 1em;

        .subpage-item {
            width: 100%;
            
            .subpage-title {
                padding: 5px;
                border-radius: 5px;
                border: 2px solid var(--color-back);
                font-weight: 500;
                letter-spacing: 1px;
                width: fit-content;
            }
        }
    }


    .sidebar-item-active {
        border: 2px solid var(--color-primary) !important;
        background-color: var(--color-back-glass);

        .sidebar-title, .subpage-title {
            font-weight: 600;
        }
    }
}