@let incident = this.incident();

@let users = this.users();
@let assignedUser = this.assignedUser();
@let selectedUser = this.selectedUser();

@let subjects = this.subjects();
@let tiedSubject = this.tiedSubject();
@let selectedSubject = this.selectedSubject();


<form [formGroup]="form" class="incident-form">
    <div class="page-container" *ngIf="incident as data">
        <div routerLink="/incidents/open" class="back flex-inline">
            <mat-icon>arrow_back</mat-icon> Back to List
        </div>
        
        @if (incident) {



            <div class="body">

                <div class="body__left">

                    <div class="header">

                        <div class="header__top">

                            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="title-input">
                                    
                                <textarea matInput 
                                        formControlName="title" 
                                        cdkTextareaAutosize
                                        cdkAutosizeMinRows="1"
                                        placeholder="Enter Incident Title"
                                        (keydown.enter)="$event.preventDefault()"
                                        ></textarea>
                                    
                                <mat-icon matSuffix class="edit-icon">edit</mat-icon>
                                
                            </mat-form-field>

                        </div>

                        <div class="header__bottom">

                            <div>
                                <span class="label">Occurred</span>
                                <span class="date">{{ incident.date | date:'MMM d, y, h:mm a' }}</span>
                            </div>

                            <div>
                                <span class="label">Last Updated</span>
                                <span class="date">{{ incident.updated | date:'MMM d, y, h:mm a' }}</span>
                            </div>

                        </div>

                    </div>

                    <div class="divider"></div>

                    <div class="section">
                    
                        <div class="select">
                            <span class="label">Status</span>

                            <io-status-select
                                formControlName="status"
                                [options]="statusOptions">
                            </io-status-select>
                        </div>

                        <div class="select">
                            <span class="label">Assigned User</span>

                            <io-profile-picker
                                formControlName="assignedUserId"
                                label="Assigned User"
                                [items]="users"
                                idKey="userId"
                                nullLabel="No Assignee"
                                [hideDetail]="true"
                                [enableAssignMe]="true">
                            </io-profile-picker>
                        </div>
                    </div>

                    <div class="section">

                        <div class="select">
                            
                            <span class="label flex-inline">Tied Subject <mat-icon class="info">info</mat-icon></span>

                            <io-profile-picker
                                formControlName="tiedSubjectId"
                                label="Tied Subject"
                                [items]="subjects"
                                idKey="subjectId"
                                nullLabel="No Subject"
                                [hideDetail]="false">
                            </io-profile-picker>

                        </div>
                    </div>
                    
                    <div class="section">

                        <span class="label">Token</span>
                        
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                
                </div>
                
                <div class="body__right">
                    <div class="section">

                        <span class="label">Description</span>
                    
                    </div>
                    
                    <br>
                    <br>
                    
                    <div class="section">
                    
                        <span class="label">Activity</span>
                    
                    </div>

                </div>
            </div>
        } @else {
            <p>incident Not Found</p>
        }

    </div>
</form>

<io-action-bar 
    [isOpen]="form.dirty" 
    (save)="onSave()" 
    (cancel)="onCancel()">
</io-action-bar>