@use '../../../../styles/mixins' as mixins;


.back {
    cursor: pointer;
    color: var(--color-primary-2);
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    &__top, &__bottom {
        display: flex;
        gap: 40px;

        .title-input {
            width: 100%;
            margin-bottom: 16px; 

            ::ng-deep .mat-mdc-input-element {
                font-size: 1.25em !important; 
                letter-spacing: 1px !important;
                font-weight: 600 !important;
                color: var(--color-text) !important;
                
                resize: none; 
                line-height: 1.2 !important;
                overflow: hidden; 
                padding: 0; 
            }

            .edit-icon {
                color: var(--color-text-2);
                opacity: 0.5;
                font-size: 20px;
                align-self: flex-start; 
                margin-top: 8px; 
            }
            
        }
    }

    &__top {
        width: 100%;
    }

}

.body {
    display: flex;
    gap: 30px;

    &__left {
        width: 70%;

        .section {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 20px;

            &:not(:has(.selector)) {
                margin-bottom: 20px;
            }
        }

        .divider {
            margin-bottom: 30px;
        }
    }

    &__right {
        width: -webkit-fill-available;
        background: var(--color-back-gray);
        border-radius: 10px;
        padding: 20px;

        .section {
            background-color: var(--color-back);
            border-radius: 10px;
            padding: 20px;
            width: -webkit-fill-available;
        }
        
    }
}
