@use '../../../../../styles/mixins' as mixins;


.body {
    display: flex;
    gap: 40px;

    @include mixins.phone(){
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mixins.non-phone(){
            width: 60%;
        }

        @include mixins.phone(){
            width: 100%;
        }

        .section-title, .section-date, .section-sensitivity {
            display: flex;
            flex-wrap: wrap;
            gap: 20px 40px;
        }

        .section {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 20px;

            &:not(:has(.selector)) {
                margin-bottom: 20px;
            }

            .item {
                margin: 10px 0px 10px 10px;
            }
        }

        .divider {
            margin: 30px 0px;
        }
    }

    &__right {
        height: 100%;
        width: 100%;

        .header {
            display: flex;
            flex-wrap: wrap;
            gap: 20px 40px;
            margin-bottom: 20px;


            // .location-input {
            // }
        }

        .wrapper {
            
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            padding: 20px;
            gap: 20px;
            width: -webkit-fill-available;
            background: var(--color-back-gray);

            @include mixins.phone(){
                padding: 10px;
                gap: 10px;
            }

            .section {
                background-color: var(--color-back);
                border-radius: 10px;
                padding: 20px;
                width: -webkit-fill-available;
                height: 100%;
                
                .desc-input {
                    width: 100%;
                    height: 200px;
                    overflow-y: auto;
                }
                
                .section-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;                
                }

                .related-incidents {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;  
                    margin-top: 10px;
                    gap: 15px;

                    .related-incident {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
                
            }
        }
        
    }
}

