@let document = store.document();

<form [formGroup]="form" class="incident-form">
    <div class="page-container">
        <div routerLink="/tokens/documents" class="back flex-inline">
            <mat-icon>arrow_back</mat-icon> Back to List
        </div>
        @if (document) {
            <div class="body">
                @if (isPhone()) {
                    <div class="tab-controls">
                        <div class="tab-button">
                            <button
                                (click)="selectTab('left')"
                                [class.active]="activeTab() === 'left'">
                                Details
                            </button>
                        </div>
                        <div class="tab-button">
                            <button
                                (click)="selectTab('right')"
                                [class.active]="activeTab() === 'right'">
                                Activity
                            </button>
                        </div>
                    </div>
                }

                @if (!isPhone() || activeTab() === 'left') {
                    <div class="body__left">
                        <div class="section-title">
                            <span class="label">Name</span>
                            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="title-input">
                                <textarea matInput
                                    formControlName="name"
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="1"
                                    placeholder="Enter Document Name"
                                    (keydown.enter)="$event.preventDefault()">
                                </textarea>
                                @if (form.get('Name')?.hasError('required')) {
                                    <mat-error>Name is required</mat-error>
                                }
                                @if (form.get('Name')?.hasError('maxlength')) {
                                    <mat-error>name cannot exceed 100 characters</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        
                        <div class="section-date">
                            @if (document.updated) {
                                <div>
                                    <span class="label">Created</span>
                                    <span>{{ document.updated | date:'MMM d, y, h:mm a' }}</span>
                                </div>
                            }
                        </div>
                        
                        <div class="divider"></div>
                        
                        <div class="section">
                            <div>
                                <span class="label">Token -
                                    @if (document) {
                                        <mat-icon>description</mat-icon><span class="sub-label">Document</span>
                                    } @else {
                                        <span class="sub-label">None</span>
                                    }
                                </span>
                                
                                @if (document) {
                                    <div class="info-grid">
                                        <span class="sub-label">Severity</span>
                                        <io-pill
                                            [pill]="document.sensitivity"
                                            [varMap]="sensitivityColors"
                                            [textMap]="sensitivityText">
                                        </io-pill>
                                        
                                        <span class="sub-label">Title</span>
                                        <span>{{ document.name }}</span>
                                        
                                        <span class="sub-label">Location</span>
                                        <span>{{ document.location }}</span>
                                    </div>
                                }
                            </div>
                        </div>
                        
                    </div>
                }

                @if (!isPhone() || activeTab() === 'right') {
                    <div class="body__right">
                        <div class="header">
                            <div class="select">
                                <span class="label">Status</span>
                                <io-pill-select
                                    [options]="sensitivityOptions"
                                    [varMap]="sensitivityColors"
                                    [textMap]="sensitivityText"
                                    formControlName="status">
                                </io-pill-select>
                            </div>
                            @if (document.updated) {
                                <div class="updated">
                                    <span class="label">Last Updated</span>
                                    <span>{{ document.updated | date:'MMM d, y, h:mm a' }}</span>
                                </div>
                            }
                        </div>
                        <div class="wrapper">
                            <div class="section">
                                <div class="section-title">
                                    <span class="label">Related Incidents</span>
                                </div>
                                @for (incidents of store.relatedIncidents(); track incidents.incidentId) {
                                    {{incidents.title}}
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        } @else if (store.isLoading()) {
            <io-skeleton-loader [lines]="5" [showTitle]="true"></io-skeleton-loader>
        } @else {
            <div class="empty-state"><mat-icon>info</mat-icon>Document Not Found</div>
        }
    </div>
</form>

<io-action-bar
    [isOpen]="form.dirty"
    [isValid]="form.valid"
    (save)="onSave()"
    (cancel)="onCancel()">
</io-action-bar>