

.profiles {
    display: flex;
    
    .profiles-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: fit-content;
        padding: 0px 20px;
        margin-right: 20px;
        border-right: 2px solid var(--color-back-2);
    }
} 