<io-dialog-header
    title="Create"
    (close)="closeDialog()"
    >
</io-dialog-header>

<mat-dialog-content class="picker-content">
    <form [formGroup]="form">
        
        <div class="form-group">
            <label>First Name</label>
            <input formControlName="firstName" />
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input formControlName="lastName" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input formControlName="email" type="email" />
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input formControlName="phone" />
        </div>

        <div class="form-group">
            <label>Department</label>
            <input formControlName="department" />
        </div>

        @if (data.type === 'subject') {
            <div class="form-group">
                <label>Role</label>
                <input formControlName="role" />
            </div>
        }
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="flat" (click)="closeDialog()">Cancel</button>
    <button (click)="save()" [disabled]="form.invalid">
        {{ profileToEdit ? 'Save Changes' : 'Create' }}
    </button>
</mat-dialog-actions>