form {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 1rem 1.5rem; 
    align-items: center; 
}

.form-group {
    display: contents; 
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem; 
}

input {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--color-back);
    color: var(--color-text);
    border: 1px solid var(--color-gray-2);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
        border: 2px solid var(--color-primary-6); 
    }
}

label {
    color: var(--color-text)
}

input.ng-invalid.ng-touched {
    border-color: var(--color-error);
}

.error-message {
    color: var(--color-error);
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 2px;
}