<io-dialog-header
    [title]="profileToEdit ? 'Edit ' + data.title : 'Add ' + data.title "
    (close)="closeDialog()"
    >
</io-dialog-header>

<mat-dialog-content class="picker-content">
    <form [formGroup]="form">
        
        <div class="form-group">
            <label>First Name</label>
            <div class="input-wrapper">
                <input formControlName="firstName" />
                @if (form.controls.firstName.invalid && form.controls.firstName.touched) {
                    <div class="error-message">First name is required</div>
                }
            </div>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <div class="input-wrapper">
                <input formControlName="lastName" />
                @if (form.controls.lastName.invalid && form.controls.lastName.touched) {
                    <div class="error-message">Last name is required</div>
                }
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <div class="input-wrapper">
                <input formControlName="email" type="email" />
                @if (form.controls.email.invalid && form.controls.email.touched) {
                    <div class="error-message">
                        @if (form.controls.email.errors?.['required']) {
                            <span>Email is required</span>
                        }
                        @if (form.controls.email.errors?.['email']) {
                            <span>Must be a valid email format</span>
                        }
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <div class="input-wrapper">
                <input formControlName="phone" />
            </div>
        </div>

        <div class="form-group">
            <label>Department</label>
            <div class="input-wrapper">
                <input formControlName="department" />
            </div>
        </div>

        @if (data.type === 'subject') {
            <div class="form-group">
                <label>Role</label>
                <div class="input-wrapper">
                    <input formControlName="role" />
                </div>
            </div>
            
        }
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="flat" (click)="closeDialog()">Cancel</button>
    <button (click)="save()" [disabled]="form.invalid">
        {{ profileToEdit ? 'Save Changes' : 'Add' }}
    </button>
</mat-dialog-actions>