<div class="tile-container">
    
    <div>
        <div class="dashboard-title">Incidents</div>

        <mat-tab-group dynamicHeight>
            
            <mat-tab label="Recent Incidents">
                <div class="tab-content">
                    @for (incident of recentIncidents$(); track incident.incidentId) {
                        @if (incident.isActive) {
                            <a [routerLink]="['/incidents/open', incident.incidentId ]" class="related-incident">
                                <span class="incident-title">{{incident.title}}</span>                                    
                                <io-pill
                                [pill]="incident.status"
                                [varMap]="statusColors"
                                [textMap]="statusText">
                            </io-pill>
                        </a>
                    }
                } @empty {
                    <p class="empty-state">No Recent Incidents Found.</p> 
                }
            </div>
            
            </mat-tab>
        
            <mat-tab label="Assigned Incidents">
                <div class="tab-content">
                    @for (incident of assignedIncidents$(); track incident.incidentId) {
                        @if (incident.isActive) {
                            <a [routerLink]="['/incidents/open', incident.incidentId ]" class="related-incident">
                                {{incident.title}}                                            
                            <io-pill
                                [pill]="incident.status"
                                [varMap]="statusColors"
                                [textMap]="statusText">
                            </io-pill>
                        </a>
                        }
                    } @empty {
                        <p class="empty-state">No Assigned Incidents Found.</p> 
                    }
                </div>
            </mat-tab>
            
        </mat-tab-group>
    </div>

    <div class="divider"></div>

    <io-incidents-heat-map [allIncidents]="allIncidents$()"></io-incidents-heat-map>


</div>