@use '../../../../styles/mixins' as mixins;

:host {
    .dashboard-title { 
        @include mixins.font();
    }

    .tab-content {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .tile-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}