.action-bar {
    position: fixed;
    bottom: -80px;
    left: 0;
    right: 0;
    background: var(--color-back);
    border-top: 2px solid var(--color-gray);
    padding: 15px 0px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
    
    &.open {
        bottom: 0; 
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
    }
    
    .actions {
        display: flex;
        gap: 1rem;
    }
}