<div class="title">Incidents Heat Map</div>
<div class="calendar-wrapper">
    <div class="calendar-header">
        <button (click)="previousMonth()" class="nav-btn"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <div class="title-group">
            <h3>{{ currentMonthName() }}</h3>
            @if (!isCurrentMonth()) {
                <button (click)="goToCurrentMonth()" class="today-btn"><mat-icon>today</mat-icon></button>
            }
        </div>
        <button (click)="nextMonth()" class="nav-btn"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>

    <div class="calendar-weekdays">
        @for (day of weekdays; track day) {
        <div class="weekday-label">{{ day }}</div>
        }
    </div>

    <div class="calendar-grid">
        @for (cell of calendarGrid(); track cell.id) {
        
        @if (cell.isPadding) {
            <div class="calendar-day empty-day"></div>
        } @else {
            <div 
                class="calendar-day" 
                [class]="getColorTier(incidentCountsByDay().get(cell.date!) || 0)"
                [matTooltip]="getToolTipText(cell.date!)">
                {{ cell.dayOfMonth }}
            </div>
        }

        }
    </div>

    <div class="calendar-legend">
        <span class="legend-label">Less</span>
        <div class="legend-item"><span class="legend-color tier-0"></span></div>
        <div class="legend-item"><span class="legend-color tier-1"></span></div>
        <div class="legend-item"><span class="legend-color tier-2"></span></div>
        <div class="legend-item"><span class="legend-color tier-3"></span></div>
        <span class="legend-label">More</span>
    </div>

</div>