<div class="title">Incident History</div>
<div class="calendar-wrapper">
    <div class="calendar-header">
        <button (click)="previousMonth()" class="nav-btn"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <div class="title-group">
            <h3>{{ currentMonthName() }}</h3>
            @if (!isCurrentMonth()) {
                <button (click)="goToCurrentMonth()" matTooltip="View Current Month" class="today-btn"><mat-icon>today</mat-icon></button>
            }
        </div>
        <button (click)="nextMonth()" class="nav-btn"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>

    <div class="calendar-weekdays">
        @for (day of weekdays; track day) {
        <div class="weekday-label">{{ day }}</div>
        }
    </div>

    <div class="calendar-grid">
        @for (cell of calendarGrid(); track cell.id) {
        
            @if (cell.isPadding) {
                <div class="calendar-day empty-day"></div>
            } @else {
                <div 
                    class="calendar-day"
                    [class]="getColorTier(incidentCountsByDay().get(cell.date!) || 0)"
                    [class.incidents]="(incidentCountsByDay().get(cell.date!) || 0) > 0"
                    [class.selected]="selectedDate() === cell.date" 
                    [class.future-day]="cell.isFuture"
                    [matTooltip]="getToolTipText(cell.date!)"
                    (click)="onDayClick(cell.date, incidentCountsByDay().get(cell.date!) || 0)">
                    {{ cell.dayOfMonth }}
                </div>
            }

        }
    </div>

    @if (selectedDate()) {
        <div id="incident-list-container" class="selected-day-container">
            <div class="section-title">
            <span class="label">Incidents on {{ selectedDate() | date:'mediumDate' }}</span>
            <button class="close-btn" (click)="selectedDate.set(null)">✕</button>
            </div>
            
            <div class="related-incidents">
            @for (incident of selectedDayIncidents(); track incident.incidentId) {
                
                <a [routerLink]="['/incidents/open', incident.incidentId]" class="related-incident">
                    <span class="incident-title">{{ incident.title }}</span>
                    
                    <io-pill
                        [pill]="incident.status"
                        [varMap]="statusColors"
                        [textMap]="statusText">
                    </io-pill>
                </a>
            }
            </div>
        </div>
    }

    <div class="calendar-legend">
        <span class="legend-label">Less</span>
        <div class="legend-item"><span class="legend-color tier-0"></span></div>
        <div class="legend-item"><span class="legend-color tier-1"></span></div>
        <div class="legend-item"><span class="legend-color tier-2"></span></div>
        <div class="legend-item"><span class="legend-color tier-3"></span></div>
        <span class="legend-label">More</span>
    </div>

</div>