<mat-form-field appearance="outline" class="filter-field">
    <mat-label>{{ filterTitle() }}</mat-label>
    
    <mat-select 
        [value]="selectedFilter()" 
        (selectionChange)="onFilterChange($event.value)">
        
        @for (option of filterOptions(); track option.value) {
            <mat-option [value]="option.value">
                <mat-icon>{{ option.icon }}</mat-icon>
                {{ option.label }}
            </mat-option>
        }

    </mat-select>

    @if (selectedFilter() !== 'all') {
        <button 
            class="flat"
            matSuffix 
            (click)="resetFilter($event)" 
            aria-label="Clear filter">
            <mat-icon>close</mat-icon>
        </button>
    }

</mat-form-field>