@use '../../../styles/mixins' as mixins;

:host {
    position: fixed;
    right: 0;
    z-index: 100;
    display: flex;
    width: max-content;
    box-shadow: 0px 0px 40px var(--color-back-drop);
    border-radius: 10px;

    @include mixins.phone() {
        width: 100%;
        margin: 10px 0px;
        box-shadow: none;
    }
}

.user-menu-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 200px;
    gap: 15px;
    padding-bottom: 15px;
    z-index: 1000;
    @include mixins.font();

    @include mixins.non-phone() {
        box-shadow: -2px 0px 0px var(--color-gray);
        border: none;
        border-bottom: 2px solid var(--color-gray);
        border-radius: 0px 0px 0px 10px;
    }

    @include mixins.phone() {
        width: 100%;
    }

    .user-menu-info, .user-menu-options {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .user-menu-avatar {
            width: 10vh;
            height: 10vh;
        }

        .user-menu-name {

        }

        .user-menu-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 100%;

            .user-menu-option-title {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 5px;
                border: 2px solid var(--color-back);
                border-radius: 5px;

                &.user-menu-option-active {
                    border: 2px solid var(--color-primary) !important;
                    background-color: var(--color-primary-3);
                    font-weight: 600;
                }
            }

        }

    }
}