@if (isUserMenuOpen()) {
<div class="page-container user-menu-container">

    <div class="user-menu-info">
        
        <div class="user-menu-photo"></div>
        <div class="user-menu-name">User</div>

    </div>

    <div class="divider"></div>

    <div class="user-menu-options">

        <!-- Will need to be current user -->
        <a class="user-menu-item" routerLink="/user">
            <mat-icon>settings</mat-icon> Settings
        </a>

        <a class="user-menu-item" routerLink="/logout">
            <mat-icon>logout</mat-icon> Logout
        </a>

    </div>
    

    
</div>
}