@let user = userService.currentUser();

@if (isUserMenuOpen()) {
    <div class="page-container user-menu-container">

        <div class="user-menu-info">
            <div class="user-menu-avatar">
                <io-profile-avatar [profile]="user"></io-profile-avatar>
            </div>
            <div class="user-menu-name">Welcome, {{ user?.firstName }}</div>
        </div>

        <div class="divider"></div>

        <div class="user-menu-options">

            <!-- Will need to be current user -->
            <a class="user-menu-item" [routerLink]="['/settings/profiles/user', user.userId]">
                <div class="user-menu-option-title" routerLinkActive="user-menu-option-active">
                    <mat-icon>settings</mat-icon> Settings
                </div>
            </a>

            <a class="user-menu-item" routerLink="/logout">
                <div class="user-menu-option-title">
                    <mat-icon>logout</mat-icon> Logout
                </div>
            </a>

        </div>
            
    </div>
}