@let profiles = this.profiles();
@let title = this.title();

<div class="profiles-list">
    <div class="profiles-list-title">
        {{title}}
    </div>

    @for (profile of profiles; track profile) {
        
        <div class="profiles-list-profile" (click)="onSelectProfile(profile)" [class.profiles-list-profile-active]="isActive(profile)">

            <div class="profiles-list-profile-avatar">
                <io-profile-avatar [profile]="profile"></io-profile-avatar>
            </div>
            <div class="profiles-list-profile-section">
                <div class="profiles-list-profile-name">
                    {{profile.firstName}}
                    {{profile.lastName}}
                </div>
                @if (userService.isCurrentUser(profile)){
                    <div class="profiles-list-profile-currentuser">
                        Current User
                    </div>
                }
            </div>

        </div>
    }

</div>