:host {

    --percent-ring-alignment: flex-start; 
    
    .progress-node {
        display: flex;
        flex-direction: column;
        align-items: var(--percent-ring-alignment);
        justify-content: center;
        gap: 8px;
        
        .ring-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .progress-label {
                position: absolute;
                font-weight: bold;
                color: var(--color-text);
                z-index: 1;
            }
            
            .progress-ring {
                transform: rotate(-90deg);
                transform-origin: 50% 50%;
                
                .track {
                    stroke: var(--color-gray);
                }

                .progress {
                    transition: stroke-dashoffset 0.5s ease-in-out, stroke 0.3s ease-in-out;
                    stroke-linecap: round;
                }
            }
        }
        
        .progress-text {
            font-size: 12px;
            white-space: nowrap;
            color: var(--color-text-2);
            text-align: center;
        }
    }
}